<div class="manager-container">
  <aside class="sidebar">
    <h2 class="sidebar-title">Trang quản lý</h2>
    <nav>
      <ul>
        <li routerLink="/manager/books" routerLinkActive="active">sách</li>
        <li routerLink="/manager/authors" routerLinkActive="active">Tác giả</li>
        <li routerLink="/manager/categories" routerLinkActive="active">Thể loại</li>
        <li routerLink="/manager/publishers" routerLinkActive="active">Nhà xuất bản</li>
        <li routerLink="/manager/borrows" routerLinkActive="active">Đơn mượn</li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
