<div class="modal-overlay">
  <div class="modal-content">
    <h2>
      Cập nhật tác giả
    </h2>
    <form [formGroup]="authorForm" (ngSubmit)="onSubmit()" class="author-form">

      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" type="text" />
        <div class="error" *ngIf="authorForm.get('name')?.touched && authorForm.get('name')?.invalid">
          <div *ngIf="authorForm.get('name')?.errors?.['required']">Name is required</div>
          <div *ngIf="authorForm.get('name')?.errors?.['minlength']">Name must be at least 4 characters</div>
        </div>
      </div>

      <div  class="form-group">
        <label for="dob">Date of Birth</label>
        <input id="dob" formControlName="dob" type="date" />
        <div class="error" *ngIf="authorForm.get('dob')?.touched && authorForm.get('dob')?.invalid">
          <div *ngIf="authorForm.get('dob')?.errors?.['required']">Date of birth is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="nationality">Nationality</label>
        <input id="nationality" formControlName="nationality" type="text" />
        <div class="error" *ngIf="authorForm.get('nationality')?.touched && authorForm.get('nationality')?.invalid">
          <div *ngIf="authorForm.get('nationality')?.errors?.['required']">Nationality is required</div>
          <div *ngIf="authorForm.get('nationality')?.errors?.['maxlength']">Max 50 characters allowed</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description"></textarea>
        <div class="error" *ngIf="authorForm.get('description')?.touched && authorForm.get('description')?.invalid">
          <div *ngIf="authorForm.get('description')?.errors?.['maxlength']">Max 500 characters allowed</div>
        </div>
      </div>

      <div class="actions">
        <button type="submit" class="btn btn-primary" [disabled]="authorForm.invalid">Update</button>
        <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
      </div>

    </form>
  </div>
</div>
