<header>
  <div class="header-logo">
    <img ngSrc="assets/images/logo.png" width="120" height="40" alt="logo">
    <div class="header-logo-text">
      <h1>GauGauGau</h1>
    </div>
  </div>

  <div class="header-menu">
    <a routerLink="/home" routerLinkActive="active" class="header-menu-item">Trang Chủ</a>
    <a routerLink="/books/customer" routerLinkActive="active" class="header-menu-item">Toàn Bộ Sách</a>

    @if (!(isAdmin || isLibrarian)) {
      <a routerLink="/abouts" routerLinkActive="active" class="header-menu-item">Thông Tin</a>
      <a routerLink="/rules" routerLinkActive="active" class="header-menu-item">Nội Quy</a>
    }

    @if (isLogin && (isAdmin || isLibrarian)) {
      <a routerLink="/manager/books" routerLinkActive="active" class="header-menu-item">Quản Lý Sách</a>
      <a routerLink="/manager/borrows" routerLinkActive="active" class="header-menu-item">Quản Lý Mượn Trả</a>
    }
    @if (isLogin && isAdmin) {
      <a routerLink="/manager/authors" routerLinkActive="active" class="header-menu-item">Tác Giả</a>
      <a routerLink="/manager/categories" routerLinkActive="active" class="header-menu-item">Thể Loại</a>
      <a routerLink="/manager/publishers" routerLinkActive="active" class="header-menu-item">Nhà Xuất Bản</a>
    }
  </div>

  <div class="header-user">
    @if (isLogin) {
      <span>Xin chào, {{ user?.fullName }}</span>
      <button (click)="logout()">Đăng xuất</button>
    } @else {
      <button routerLink="/login">Đăng nhập</button>
    }
  </div>
</header>
