<div class="modal-overlay" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="book-form">
      <h2>Cập nhật sách</h2>
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>Tên:</label>
          <input formControlName="name" type="text"/>
          <div class="error" *ngIf="bookForm.get('name')?.invalid && bookForm.get('name')?.touched">
            Tên sách là bắt buộc
          </div>
        </div>

        <div class="form-group">
          <label>Avatar:</label>
          <input type="file" (change)="onFileSelected($event)" />
          <div *ngIf="bookForm.get('avatar')?.value">
            <img [src]="bookForm.get('avatar')?.value" alt="Book Avatar" width="100"/>
          </div>
        </div>


        <div class="form-group">
          <label>ISBN:</label>
          <input formControlName="isbn" type="text"/>
          <div class="error" *ngIf="bookForm.get('isbn')?.invalid && bookForm.get('isbn')?.touched">
            <span *ngIf="bookForm.get('isbn')?.errors?.['required']">ISBN là bắt buộc</span>
            <span *ngIf="bookForm.get('isbn')?.errors?.['pattern']">ISBN chỉ được chứa số hoặc dấu gạch (-)</span>
          </div>
        </div>

        <div class="form-group">
          <label>Nhà cung cấp:</label>
          <select formControlName="publisherId">
            <option *ngFor="let p of publishers" [value]="p.id">{{ p.name }}</option>
          </select>
          <div class="error" *ngIf="bookForm.get('publisherId')?.invalid && bookForm.get('publisherId')?.touched">
            Vui lòng chọn nhà cung cấp
          </div>
        </div>

        <div class="form-group">
          <label>Authors:</label>
          <ng-multiselect-dropdown
            [data]="authors"
            formControlName="authorIds"
            [settings]="authorDropdownSettings"
            placeholder="Chọn tác giả">
          </ng-multiselect-dropdown>
          <div class="error" *ngIf="bookForm.get('authorIds')?.invalid && bookForm.get('authorIds')?.touched">
            Vui lòng chọn ít nhất một tác giả
          </div>
        </div>

        <div class="form-group">
          <label>Categories:</label>
          <ng-multiselect-dropdown
            [data]="categories"
            formControlName="categoryIds"
            [settings]="categoryDropdownSettings"
            placeholder="Chọn thể loại">
          </ng-multiselect-dropdown>
          <div class="error" *ngIf="bookForm.get('categoryIds')?.invalid && bookForm.get('categoryIds')?.touched">
            Vui lòng chọn ít nhất một thể loại
          </div>
        </div>


        <div class="actions">
          <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid">Update</button>
          <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
        </div>

      </form>
    </div>
  </div>
</div>
