<div class="login-page">
  <div class="login-container">
    <div class="login-page-title">
      <h1>Login</h1>
    </div>
    <form class="login-form" (ngSubmit)="onSubmit()">
      <div class="login-input">
        <input id="username" [(ngModel)]="username" name="username" placeholder="Username"/>
      </div>
      <div class="login-input">
        <input id="password"  [(ngModel)]="password" type="password" name="password" placeholder="Password"/>
      </div>
      <div class="login-button">
        <button type="submit">Đăng nhập</button>
      </div>
    </form>

    <div class="login-register">
      <span>Không có tài khoản?</span>
      <div class="btn-register" type="button" (click)="goToRegister()">Đăng ký</div>
    </div>
  </div>

</div>

