<div class="header-book-detail">
  <button (click)="goBack()" class="btn btn-primary">Trở về</button>
  <td class="actions">
    <button class="create-btn btn" (click)="openCreateDialog(bookId)">+ Thêm bản sao</button>
  </td>
</div>


<div class="book-detail" *ngIf="bookDetail; else loadingTpl">
  <div class="book-detail-left-content">
    <div class="book-detail-content">
      <div class="book-detail-value">
        <img [src]="bookDetail.avatar" alt="{{bookDetail.name}}" width="450"/>
      </div>
    </div>
  </div>
  <div class="book-detail-right-content">
    <div class="book-detail-content">
      <div class="book-detail-label">Tên sách:</div>
      <div class="book-detail-value">{{ bookDetail.name }}</div>
    </div>

    <div class="book-detail-content">
      <div class="book-detail-label">Mã ISBN:</div>
      <div class="book-detail-value">{{ bookDetail.isbn }}</div>
    </div>

    <div class="book-detail-content">
      <div class="book-detail-label">Nhà xuất bản:</div>
      <div class="book-detail-value">{{ bookDetail.publisherName }}</div>
    </div>

    <div class="book-detail-content">
      <div class="book-detail-label">Tác giả:</div>
      <div class="book-detail-value">
      {{bookDetail.authors}}
      </div>
    </div>

    <div class="book-detail-content">
      <div class="book-detail-label">Thể loại:</div>
      <div class="book-detail-value">
      {{bookDetail.categories}}
      </div>
    </div>

    <div class="book-detail-content">
      <div class="book-detail-label">Số sách đang mượn:</div>
      <div class="book-detail-value">{{ bookDetail.numberOfBorrowed }}</div>
    </div>

    <div class="book-detail-content">
      <div class="book-detail-label">Số sách còn:</div>
      <div class="book-detail-value">{{ bookDetail.numberOfAvailable }}</div>
    </div>
    <div class="book-detail-content">
      <div class="book-detail-label">Tình trạng các bản ghi:</div>
      <div class="book-detail-value">
        <table class="book-copy-table">
          <thead>
          <tr>
            <th>Mã vạch</th>
            <th>Trạng thái</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let bookCopy of bookCopies">
            <td>{{ bookCopy.barcode }}</td>
            <td>{{ bookCopy.status || 'Không rõ' }}</td>
            <td>
              <button class="btn-danger" (click)="onDelete(bookCopy.id)">Xóa</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<ng-template #loadingTpl>
  <p>Loading book detail...</p>
</ng-template>
