<div class="mordal-overlay">
  <div class="modal-content">
    <h2>
      Thêm thể loại
    </h2>

    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="category-form" *ngIf="!loading">
      <div class="form-group">
        <label for="name">Tên thể loại</label>
        <input id="name" formControlName="name" type="text"/>
      </div>
      <div class="error" *ngIf="name?.touched && name?.invalid">
        <div *ngIf="name?.errors?.['required']">Yêu cầu nhập tên</div>
        <div *ngIf="name?.errors?.['minlength']">Tên phải có nhiều hơn 4 ký tự</div>
      </div>

      <div class="form-group">
        <label for="description">Mô tả thể loại</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>

      <div class="error" *ngIf="description?.touched && description?.invalid">
        <div *ngIf="description?.errors?.['maxlength']">Mô tả ít thôi</div>
      </div>

      <div class="actions">
        <button type="button" class="btn btn-secondary" (click)="onClose()">Hủy</button>
        <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">Cập nhật</button>
      </div>
    </form>

    <div *ngIf="loading" class="loading">Đang tải dữ liệu...</div>
  </div>
</div>
